/* Computer Modern Sans */
@font-face {
  font-family: "Computer Modern Sans";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("/assets/fonts/CMUSansSerif.woff2");
}
@font-face {
  font-family: "Computer Modern Sans";
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url("/assets/fonts/CMUSansSerif-Bold.woff2");
}
@font-face {
  font-family: "Computer Modern Sans";
  font-style: italic;
  font-weight: normal;
  font-display: swap;
  src: url("/assets/fonts/CMUSansSerif-Oblique.woff2");
}
@font-face {
  font-family: "Computer Modern Sans";
  font-style: italic;
  font-weight: bold;
  font-display: swap;
  src: url("/assets/fonts/CMUSansSerif-BoldOblique.woff2");
}

/* Computer Modern Typewriter */
@font-face {
  font-family: "Computer Modern Typewriter";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("/assets/fonts/CMUTypewriter-Regular.woff2");
}
@font-face {
  font-family: "Computer Modern Typewriter";
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url("/assets/fonts/CMUTypewriter-Bold.woff2");
}
@font-face {
  font-family: "Computer Modern Typewriter";
  font-style: italic;
  font-weight: normal;
  font-display: swap;
  src: url("/assets/fonts/CMUTypewriter-Italic.woff2");
}
@font-face {
  font-family: "Computer Modern Typewriter";
  font-style: italic;
  font-weight: bold;
  font-display: swap;
  src: url("/assets/fonts/CMUTypewriter-BoldItalic.woff2");
}
