<div class="navbar">
    <a class="site-title" href="{{ site.url }}{{ site.baseurl}}/">{{ site.title }}</a>

    <ul class="pull-right">
        {% for x in site.navbar %}
        <li class="pull-left">
            {% if x.name == "LinkedIn" %}
                {% assign x-class = "fab fa-linkedin" %}
                {% assign x-name = "" %}
            {% elsif x.name == "Twitter" %}
                {% assign x-class = "fab fa-twitter" %}
                {% assign x-name = "" %}
            {% elsif x.name == "GitHub" %}
                {% assign x-class = "fab fa-github" %}
                {% assign x-name = "" %}
            {% else %}
                {% assign x-name = x.name %}
            {% endif %}
            {% if x.absolute-link %}
                {% assign x-url = x.absolute-link %}
            {% else %}
                {% assign x-url = site.url | append: site.baseurl | append: "/" | append: x.link %}
            {% endif %}
            <a class="{{ x-class }}" href="{{ x-url }}">{{ x-name }}</a>
            {% if forloop.last == false %}&middot;{% endif %}
        </li>
        {% endfor %}
    </ul>

    <hr>
</div>