<div class="navbar">
    <a class="navlink site-title" href="{{ site.url }}{{ site.baseurl}}/">{{ site.title }}</a>

    <div class="nav-items pull-right">
        <ul class="nav-text">
            {% for x in site.navbar %}
            {% unless x.absolute_link or x.farcast %}
            <li class="pull-left">
                {% assign x-url = site.url | append: site.baseurl | append: "/" | append: x.link %}
                <a class="navlink" href="{{ x-url }}">{{ x.name }}</a>
            </li>
            {% endunless %}
            {% endfor %}
        </ul>
        <ul class="nav-icons">
            {% for x in site.navbar %}
            {% if x.absolute_link or x.farcast %}
            <li class="pull-left">
                {% if x.absolute_link %}
                    {% assign x-class = "fab fa-" | append: x.name | downcase %}
                    {% assign x-url = x.absolute_link %}
                    {% assign x-text = x.name | capitalize %}
                {% elsif x.farcast %}
                    {% assign x-class = "" %}
                    {% assign x-url = x.farcast %}
                    {% assign x-text = "Farcast" %}
                {% endif %}
                <a rel="me" class="navlink navlink-icon {{ x-class }}" href="{{ x-url }}" aria-label="{{ x-text }}">
                    <span class="sr-only">{{ x-text }}</span>
                </a>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>

    <hr>
</div>
