@font-face {
  font-family: 'FF Meta Pro Regular';
  src: url('./fonts/FFMetaProRegular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/RobotoMono-VariableFont_wght.ttf') format('ttf');
}
