---
---

<!DOCTYPE html>
<html lang="en">

{% assign sitedir = site.url | append: site.baseurl %}

<head>
    {% include head.html %}
    {% if layout.extended %}
        {% include head-ext.html %}
    {% endif %}
</head>

<body>
    <div class="container">
        {% include navbar.html %}
        <div class="page-title">
            {{page.title}}
        </div>
        <div class="content">
            {{ content }}
        </div>
        {% include footer.html %}
    </div>
    {% if layout.extended %}
        {% include js-initialization.html %}
    {% endif %}
</body>
